<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django Girls Blog</title>
  </head>
  <body>
    <header>
      <h1><a href="/">Django Girls Blog</a></h1>
    </header>

    <article>
      <time>published: 21.07.2021, 17:15</time>
      <h2><a href="">Black Hole</a></h2>
      <p>
        A black hole is a region of spacetime where gravity is so strong that
        nothing—no particles or even electromagnetic radiation such as light—can
        escape from it.[1] The theory of general relativity predicts that a
        sufficiently compact mass can deform spacetime to form a black
        hole.[2][3] The boundary of no escape is called the event horizon.
        Although it has an enormous effect on the fate and circumstances of an
        object crossing it, according to general relativity it has no locally
        detectable features.[4] In many ways, a black hole acts like an ideal
        black body, as it reflects no light.[5][6] Moreover, quantum field
        theory in curved spacetime predicts that event horizons emit Hawking
        radiation, with the same spectrum as a black body of a temperature
        inversely proportional to its mass. This temperature is on the order of
        billionths of a kelvin for black holes of stellar mass, making it
        essentially impossible to observe directly.
      </p>
    </article>

    <article>
      <time>Published: 21.07.2021, 17:25</time>
      <h2><a href="">Quantum Mechanics</a></h2>
      <p>
        Quantum mechanics is a fundamental theory in physics that provides a
        description of the physical properties of nature at the scale of atoms
        and subatomic particles.[2]:1.1 It is the foundation of all quantum
        physics including quantum chemistry, quantum field theory, quantum
        technology, and quantum information science.
      </p>
    </article>
  </body>
</html>
